<div class="container chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
<div type="button" class="return-btn" onclick="history.back()">
  <i class="fa-solid fa-arrow-left"></i>
</div>

  <h1 class="text-center">#<%= @chatroom.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
  <div class="chatroom-message">
    <%= simple_form_for [@chatroom, @message],
      html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|%>
      <%= f.input :content,
        label: false,
        placeholder: "Message ##{@chatroom.name}",
        wrapper_html: {class: "flex-grow-1"}
      %>
      <div class="chatroom-btn">
        <%= f.submit "Send", class: "pink-btn  mb-3" %>
      </div>
    <% end %>
  </div>
</div>
