<div class="container mb-3">
  <div style="margin-bottom: 30px;">
    <div type="button" class="return-btn" onclick="history.back()">
      <i class="fa-solid fa-arrow-left"></i>
    </div>
  <nav>
    <div class="nav nav-pills" id="nav-tab" role="tablist">
      <button class="nav-link fade show active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Plants</button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Orders</button>
    </div>
     <br>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="row">
        <% @bookings_seller.each do |booking| %>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="booking-card mb-3">
              <div class="booking-image">
                <% if booking.plant.photo.attached? %>
                  <%= cl_image_tag booking.plant.photo.key, height: 200, width: 200 %>
                <% end %>
              </div>
              <div class="booking-content">
                <p><strong>Name: </strong><%= booking.plant.common_name %></p>
                <p><strong>Requested by: </strong><%= "#{booking.user.first_name} #{booking.user.last_name}"%></p>
                <p><strong>Quantity: </strong><%= booking.booking_quantity%></p>
                <p><strong>Ordered on: </strong><%= booking.created_at.strftime("%a, %b %e")%></p>
                <p><strong>Plants left: </strong><%= booking.plant.quantity%></p>
              </div>
              <div class="booking-user-action">
                <div class="action-icons">
                  <% if booking.chatroom != nil%>
                    <%= link_to "/bookings/#{booking.id}/chatrooms/#{booking.chatroom.id}" do %>
                        <i class="fa-solid fa-message"></i>
                    <% end %>
                  <% end %>
                  <% if booking.buy_status == 'pending' %>
                    <div id="accept-marker">
                    <%= link_to reply_buy_path(booking, status: 'accepted') do %>
                      <i class="fa-solid fa-check"></i>
                    </div>
                    <% end %>
                    <div id="reject-marker">
                    <%= link_to reply_buy_path(booking, status: 'rejected') do %>
                      <i class="fa-solid fa-xmark"></i>
                      <% end %>
                    </div>
                  <% end %>
                </div>
                <div class="actions-message pb-0 text-center">
                  <% if booking.buy_status == 'pending'%>
                    <p class="badge rounded-pill bg-warning">Pending</p>
                  <% elsif booking.buy_status == 'accepted' || booking.buy_status == 'completed'  %>
                    <p class="badge rounded-pill bg-success">Approved</p>
                  <% else booking.buy_status == 'rejected' %>
                    <p class="badge rounded-pill bg-danger">Rejected</p>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="row">
          <% @bookings.each do |booking| %>
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="booking-card mb-2">
                  <div class="booking-image">
                    <% if booking.plant.photo.attached? %>
                      <%= cl_image_tag booking.plant.photo.key, height: 200, width: 200 %>
                    <% end %>
                  </div>
                  <div class="booking-content">
                    <p><strong>Name: </strong><%= booking.plant.common_name %></p>
                    <p><strong>Owner: </strong><%= "#{booking.plant.user.first_name} #{booking.plant.user.last_name}"%></p>
                    <p><strong>Quantity: </strong><%= booking.booking_quantity%></p>
                    <p><strong>Ordered on: </strong><%= booking.created_at.strftime("%a, %b %e")%></p>
                    <% if booking.buy_status == "completed" && booking.review.blank? %>
                      <%= link_to "Add a review", new_booking_review_path(booking), class: "pink-btn" %>
                    <% end %>
                  </div>
                  <div class="booking-user-action">
                    <div class="action-icons">
                      <% if booking.chatroom != nil%>
                        <%= link_to "/bookings/#{booking.id}/chatrooms/#{booking.chatroom.id}" do %>
                          <i class="fa-solid fa-message"></i>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="actions-message pb-0 text-center">
                      <% if booking.buy_status == 'pending'%>
                        <p class="badge rounded-pill bg-warning">Pending</p>
                      <% elsif booking.buy_status == 'accepted' || booking.buy_status == 'completed'  %>
                        <p class="badge rounded-pill bg-success">Approved</p>
                      <% else booking.buy_status == 'rejected' %>
                        <p class="badge rounded-pill bg-danger">Rejected</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
