<div class="container">
  <h1 class= "mt-3">Your orders</h1>

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link fade show active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Plant-Swap OUT <i class="fa-solid fa-minus"></i></button>
      <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Plant-Swap IN <i class="fa-solid fa-plus"></i> </button>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <div class="row">
        <% @bookings_seller.each do |booking| %>
          <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="booking-card mb-2">
              <div class="booking-image">
                <% if booking.plant.photo.attached? %>
                  <%= cl_image_tag booking.plant.photo.key, height: 200, width: 200 %>
                <% end %>
              </div>
              <div class="booking-content">
                <p><strong>Plant name: </strong><%= booking.plant.common_name %></p>
                <p><strong>Plant owner: </strong><%= "#{booking.plant.user.first_name} #{booking.plant.user.last_name}"%></p>
                <p><strong>Quantity: </strong><%= booking.booking_quantity%></p>
                <p><strong>Order Status: </strong><%= booking.buy_status%></p>
                <p><strong>Amount of plants left: </strong><%= booking.plant.quantity%></p>
              </div>
              <div class="booking-user-action">
                <% if booking.buy_status == 'pending' %>
                  <%= link_to reply_buy_path(booking, status: 'accepted') do %>
                    <i class="fa-solid fa-check"></i>
                  <% end %>
                  <%= link_to reply_buy_path(booking, status: 'rejected') do %>
                    <i class="fa-solid fa-xmark"></i>
                    <% end %>
                <% elsif booking.buy_status == 'accepted' || booking.buy_status == 'completed'  %>
                  <p><strong>You approved this booking</strong></p>
                <% else booking.buy_status == 'rejected' %>
                  <p><strong>You rejected this booking</strong></p>
                <% end %>
                <% if booking.chatroom != nil%>
                  <%= link_to "/bookings/#{booking.id}/chatrooms/#{booking.chatroom.id}" do %>
                      <i class="fa-solid fa-message"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
      <div class="row">
          <% @bookings.each do |booking| %>
              <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="booking-card mb-2">
                  <div class="booking-image">
                    <% if booking.plant.photo.attached? %>
                      <%= cl_image_tag booking.plant.photo.key, height: 200, width: 200 %>
                    <% end %>
                  </div>
                  <div class="booking-content">
                    <p><strong>Plant name: </strong><%= booking.plant.common_name %></p>
                    <p><strong>Plant owner: </strong><%= "#{booking.plant.user.first_name} #{booking.plant.user.last_name}"%></p>
                    <p><strong>Quantity: </strong><%= booking.booking_quantity%></p>
                    <p><strong>Order Status: </strong><%= booking.buy_status%></p>
                    <% if booking.buy_status == "pending"%>
                      <%= link_to "Add a review", new_booking_review_path(booking), class: "pink-btn" %>
                    <% end %>
                  </div>
                  <div class="booking-user-action">
                    <% if booking.chatroom != nil%>
                      <%= link_to "/bookings/#{booking.id}/chatrooms/#{booking.chatroom.id}" do %>
                        <i class="fa-solid fa-message"></i>
                      <% end %>
                    <% end %>
                    <%# <%=link_to plants_path do %>
                      <%# <i class="fa-solid fa-trash-can"></i> %>
                    <%# <% end %>
                  </div>
                </div>
              </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
