<h1>All the buyer's bookings</h1>

<h2>Plants in</h2>
Not coded yet
<h2>Plants out</h2>

<% @bookings.each do |booking| %>
  <% @plant = Plant.find(booking.plant_id) %>
  <% if current_user.id == booking.plant.user.id %>
      <p><%= "Plant: #{@plant.common_name}" %></p>
      <p><%= "Plant buyer: #{booking.user.first_name} #{booking.user.last_name}" %></p>
      <p><%= "Order Status: #{booking.buy_status}" %></p>
    <% if booking.buy_status == 'accepted' %>
      <p><strong>You approved this booking</strong></p>
      <%= link_to "Reject this booking", reply_booking_path(booking, status: 'rejected'), class: "btn btn-danger" %>
    <% elsif booking.buy_status == 'rejected' %>
      <p><strong>You rejected this booking</strong></p>
      <%= link_to "Approve this booking", reply_booking_path(booking, status: 'accepted'), class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Approve", reply_booking_path(booking, status: 'accepted'), class: "btn btn-primary" %>
      <%= link_to "Reject", reply_booking_path(booking, status: 'rejected'), class: "btn btn-danger" %>
    <% end %>
    <% else %>
      <p><%= "Plant: #{@plant.common_name}" %></p>
      <p><%= "Plant owner: #{@plant.user.first_name} #{@plant.user.last_name}" %></p>
      <p><%= "Plant buyer: #{booking.user.first_name} #{booking.user.last_name}" %></p>
      <p><%= "Order Status: #{booking.buy_status}"%></p>
  <% end %>
<% end %>
