<div class="container-xxl mt-4">
  <div class="row">
    <div class="your-garden col-8">
      <div class="your-garden-heading">
        <div type="button" class="return-btn" onclick="history.back()">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
        <% if @user == current_user %>
          <h1 class="text-center mb-3 mt-n1">Your garden</i></h1>
        <% else %>
          <h1 class="text-center mb-3 mt-n1"><%= @user.first_name %>'s garden</i></h1>
        <% end %>
      </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-4">
    <div class="profile-container">
      <div class="profile">
        <div class="profile-image d-flex justify-content-center">
          <% if @user.photo.attached? %>
              <%= cl_image_tag @user.photo.key, :width=>150, :height=>150, :crop=>"fill" %>
            <% else %>
              <%= image_tag("Avatar_green-01.png", :width=>150, :height=>150, :crop=>"fill") %>
          <% end %>
        </div>
          <h2 class="text-center mb-3 mt-3"><%= @user.first_name %>'s profile</h2>
          <p class="text-center"><% @user.average_rating.to_i.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %></p>
      </div>

      <div class="reviews">
        <h3>Reviews</h3>
        <% @user.plants.each do |plant| %>
          <% plant.bookings.each do |booking| %>
            <% if booking.review != nil %>
              <div class="review-card">
                <div class="star-rating">
                  <p><% booking.review.rating.to_i.times do %>
                    <i class="fa-solid fa-star"></i>
                  <% end %>
                  </p>
                </div>
                <p><%= booking.user.first_name %>: <em>"<%= booking.review.content %>"</em></p>
                <%# <p>Reviewed by <%= booking.user.first_name</p> %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    </div>

    <div class="your-garden col-8">
      <div class="card-grid">
        <% @user.plants.each do |plant| %>
          <div class="plant-card-garden mb-3">
            <%= link_to plant_path(plant) do %>
              <div class="plant-garden-picture">
                <% if plant.photo.attached? %>
                  <%= cl_image_tag plant.photo.key, height: 200, width: 250 %>
                <% end %>
              </div>
            <% end %>
            <div class="garden-plant-info">
              <p><strong><%= plant.common_name %></strong></p>
              <p><strong>Type: </strong><%= plant.plant_type %></p>
              <p><strong>Amount left: </strong><%= plant.quantity%></p>
              <div class="garden-user-actions">
                <% if plant.user == current_user %>
                  <%= link_to edit_plant_path(plant) do %>
                    <div class="user-profile-icon">
                      <i class="fa-solid fa-pen-to-square"></i>
                    </div>
                  <% end %>
                  <%= link_to plant_path(plant), data: {turbo_method: :delete, controller: "sweet-alert", action: "click->sweet-alert#open", sweet_alert_plant_value: "#{plant.id}"} do %>
                    <div class="user-profile-icon">
                      <i class="fa-solid fa-trash-can"></i>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
