<div class="navbar navbar-expand-sm navbar-light navbar-pages">
 <div class="container-xxl">
    <div class="icon-and-search">
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= image_tag "shared/botanic.png" %>
    <% end %>
      <div class="search-box">
        <%= simple_form_for :search_by_name_type_and_category, url: plants_path, method: :get do |f| %>
          <button class="btn-search"><i class="fas fa-search"></i></button>
          <input class="input-search string required" type="text" name="[query]" id="search_query" placeholder="Type to search..."/>
        <% end %>
      </div>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-icons">
        <%# <a href=""><i class="fa-solid fa-message"></i></a> %>
        <%= link_to "View plants", plants_path, class: "navbar-btn" %>
        <%# <a href=""><i class="fa-solid fa-basket-shopping"></i></a> %>
        <%= link_to "List plant", new_plant_path, class: "navbar-btn" %>
        <%= link_to "Home", root_path, class: "navbar-btn" %>
      </div>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown nav-centre">
            <a class="nav-link" href="#" data-bs-toggle="dropdown">Welcome <%= current_user.username %></a>
             <%# <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%= image_tag "https://res.cloudinary.com/lardocelar/image/upload/v1654685294/user_placeholder_kbf1mr.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "My garden", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "My bookings", bookings_path, class: "dropdown-item" %>
              <%= link_to "Chatroom", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "navbar-login" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
