<%# <div class="landing-nav"> %>
  <%# <%= render "shared/landing_navbar" %>
<%# </div> %>

<div class="home-container d-flex flex-column justify-content-center align-items-center">
  <%= image_tag "shared/logo.png", class: "logo p-2" %>
  <%= image_tag "shared/landing_description.png", class: "description" %>
  <div class="landing-btns">
    <%= link_to "List plant", new_plant_path, class: "pink-btn p-2" %>
    <%= link_to "Browse plants", plants_path, class: "pink-btn p-2" %>
  </div>
</div>
