<div class="landing-nav">
  <%= render "shared/landing_navbar" %>
    <%= image_tag "shared/logo.png" %>
</div>

<div class="home-container">
  <%= image_tag "shared/landing_description.png" %>
  <div class="landing-btns">
    <%= link_to "List plant", new_plant_path, class: "pink-btn" %>
    <%= link_to "Browse plants", plants_path, class: "pink-btn" %>
  </div>
</div>
