<div class="container">
  <%= simple_form_for @plant do |f| %>
    <%= f.input :category %>
    <%= f.input :name %>
    <%= f.input :mature_height %>
    <%= f.input :description %>
    <%= f.button :submit %>
  <% end %>
</div>
