<div class="container">
  <div class="listing-card">
    <%= simple_form_for @plant do |f| %>
      <%= f.input :category %>
      <%= f.input :plant_type %>
      <%= f.input :botanical_name %>
      <%= f.input :common_name %>
      <%= f.input :description %>
      <%= f.input :light_conditions %>
      <%= f.input :mature_height %>
      <%= f.input :quantity %>
      <%= f.input :indoor %>
      <%= f.button :submit, class: "pink-btn" %>
    <% end %>
  </div>
</div>
