
<div class="container-xxl">
<br><br>
  <div class="listing-card">
    <h1>Add a plant</h1>
    <br>

    <div class="list-form">
    <%= simple_form_for @plant do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.input :category, collection: ["Plant", "Plantlet", "Clipping"] %>
      <%= f.input :plant_type, collection: ["Climbers", "Ferns", "Cacti", "Palms", "Flowering", "Other"] %>
      <%= f.input :botanical_name %>
      <%= f.input :common_name %>
      <%= f.input :description %>
      <%= f.input :light_conditions, collection: ["Direct sunlight", "Most light conditions", "Shade"] %>
      <%= f.input :mature_height, label: 'Height at maturity (cm)'%>
      <%= f.input :quantity %>
      <%= f.input :indoor %> <br> <br>
      <%= f.submit "Add plant", class: "pink-btn" %>
    <% end %>
  </div>
</div>
